<head>
  <title>About</title>
</head>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Embellished 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140207

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>About</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="wrapper2" class="essentials">

	<h7><a href="/acknowledgment" >Acknowledgment <a><a href="contact" rel="nofollow"></a></h7> </div>
	<div id="header-wrapper">
		<div id="header" class="container">
			
				<div id="logo" > 
					<a href=/>
				</a>
					
					<br></br> 
					<h3><i><b>About</i></b></h3>

<h4>					<br></br> 

To Marsh is a web-based project that acts as a space for nurturing the difference of meaning, experiences and creative expressions resulting from our visits to the land currently known as Cootes Paradise. This project contains written and audio-visual responses, as well as propositions for the visitor to take with them and activate wherever in collectivity. 
					<h3><i><b></i></b></h3>

<h4>					<br></br> 

This collaboration parts from a recognition of the interdependencies between human and other-than-human beings, and the re-imagining of colonial ways of knowing that foreground human hierarchy and exceptionality through language. We have been guided by Robin Wall Kimmerer’s “Learning the Grammar of Animacy” (2013), where she prompts us to shift English’s strategic objectification of the Land through nouns, by turning them into verbs, for example “to be a bay.” This seemingly simple transformation has the potential to unravel otherwise ways of speaking not about, but with the Land. Thus, letting language recognize the world as a space where everything is alive. 
					<br></br>
To Marsh practices language as multiple ways of being in and with the world, rather than a reference for fixed meaning. The five verbs hosted here have multiple interpretations in no real hierarchical order, none claim a true meaning, just more propositions for us and other visitors to keep exploring.
We encourage you (the visitor) to take this digital space as a practice of what we understood the Marsh does and is. A space for difference to be nurtured, a space of healing, a space for us to slowly play and, as Haraway (2015) writes, propose new abstractions. 

<div class="spacer" ></div>
<a name="bark">
  <div id="bark">
<a href = "/bark">
				<br></br> 
<h3><i><b>To Bark</i></b></h3>
</a>
<h4>					<br></br> 
  </div>
</a>
To Bark is to practice shelter, rest and roots. Vitality embeded in earth - casting snow shadows and housing nests. A Bark practice proposes an opportunity to feel under your layers and offer support to those near your branches.

<div class="spacer" ></div>

<a name="bird">
  <div id="bird">
<a href = "/bird">
				<br></br> 
					<h3><i><b>To Bird</i></b></h3>
				</a>

<h4>					<br></br> 
  </div>
</a>
To bird is feeling hops between landing spots. Parallel whistling to chew the fat. Sparse blinks sense the fragile. Birds wake every morning and sing the dawn’s chorus. Practicing as a flock, they get their stories ready to share with one another through the day, genealogical oral traditions that spread with south western winds.<br></br>Embodying play and kinship, to bird is to voice affect. 

<div class="spacer" ></div>

<a name="cattail">
  <div id="cattail">
  	<a href = "/cattail">
				<br></br> 
					<h3><i><b>To Cattail</i></b></h3>
</a>
<h4>					<br></br> 
  </div>
</a>
A practice of cattailing requires a dense collectivity with the disposition to collaborate. A body of bodies that is in constant desire to working-with the wind, with the soil, with the water and with the more, in order to keep expanding. To cattail is taking up space with the self-awareness of giving it back when there is not enough. A cattail practice requires becoming porous for vitality to slide and reach every part of our body, especially the parts that are submerged. Cattailing is an exercise of generosity, not paternalist charity, where the one and the many of us turn into solidarity offerings for others to prosper.  
	<div class="spacer" ></div>


<a name="marsh">
  <div id="marsh">
  	<a href = "/">
				<br></br> 
	<h3><i><b>To Marsh</i></b></h3>
</a>
<h4>				<br></br> 
  </div>
</a>
A Marsh is and practices multiplicity by recognizing there is not one world but many. Thus, there is not one single action but interconnected doings of what it is to marsh.  <br></br> 
Marshing is existing in the in-betweenness of upheaval and stability, where one can soften the turmoil of accelerated disruption. To practice marshing requires the embrace of slow-moving transformation, a slowness necessary to restore and nurture bodies that have been damaged by excess. To marsh is a caring practice sustaining the difference of sprouting and decaying bodies. Thus, it can only be done/practiced in collectivity.   
<div class="spacer" ></div>

<a name="sapling">
  <div id="sapling">
  	<a href = "/sapling">
				<br></br> 
					<h3><i><b>To Sapling</i></b></h3>
</a>
<h4>				<br></br> 
  </div>
</a>
A practice of sapling is one of flexibility, particularly in the midst of becoming. Thus, to sapling is situating flexibility in the not-yet while knowing that at some moment one will become a tree. This knowing is not overtaken by uncertainty, but by hope. A sapling practice is one carried with the hope that being flexible will make our roots expand to otherwise possibilities.  
<!--
			<div id="menu">
				<ul>
					<li><a href="#" accesskey="2" title="">Shop</a></li>
					<li><a href="#" accesskey="3" title="">Editorial</a></li>
				</ul>
			</div>
-->
		</div>
	</div>
</body>
</html>
