<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Embellished 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140207

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Acknowledgement</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="wrapper2" class="essentials">

	<h7><a href="/about" >About <a><a href="contact" rel="nofollow"></a></h7> </div>
	<div id="header-wrapper">
		<div id="header" class="container">
			
				<div id="logo" > 
					<a href=/>
				</a>
					
					<br></br> 
					<h3><i><b>To The Land</i></b></h3>

<h4><div class="spacer" ></div>					<br></br> 

This project was done in collaboration with the other-than-human beings in the traditional territory of the Haudenosaunee, Attiwonderonk (neutral) and Anishinaabe peoples, including the Mississaugas of the Credit First Nation. We acknowledge that this land continues to be shaped by their stories, values and practices of resistance. 
<br></br> 
We acknowledge that the land, currently and colonially known as Cootes Paradise, has been damaged by settler colonial occupation and activities. The most recent wound is and was the discharge of 24 billion liters of sewage and untreated wastewater into Chedoke Creek between 2014 and 2018. A spill that happened under white possessive logics (Moreton Robinson, 2015) that constantly stretches and operationalizes the violent practice of negligence. From the spill to the claims that remediation was not advisable (https://globalnews.ca/news/6876074/hamilton-cootes-paradise-study/). 
<br></br> 
As collaborators and individuals, we are committed to learning how to be better visitors and carry forward, to the best of our abilities, the responsibilities towards the Land and Indigenous people foregrounded by The Dish with One Spoon treaty. 
<br></br> 
We are uninvited guests in Turtle Island, and recognize how our privileged presence and creative and academic work is complicit in the structures of settler colonialism. Though, this project stems from asking how we can be in good relation with the Land and the other-than-human beings. In the process, we have been complicit in the invisibilization of Indigenous people and struggles as this work was produced without Indigenous consultation. As such, we want to acknowledge that in the territory currently known as Hamilton, Indigenous groups, such as 1492 Land Back Lane, De dwa de dehs nye>s, Native Women’s Centre are still organizing, resisting, refusing and challenging settler colonialism. 

<br></br> 
We are grateful to the marsh, the barch, the birds, the saplings, the cattails and all the other beings from whom we have learned that we are in a messy constellation of relations. 
<br></br> 
<br></br> 


<h3><i><b>To Other Thinkers</i></b></h3>
<h4>

<br></br> 
This is a collaborative work with other thinkers, whose ideas inspired and guided this project. We are grateful… 
<br></br> 
Robin Wall Kimmerer, Adrianne Maree Brown, Ashon T. Crawley, Leanne Betasamosake Simpson, Zoe Todd, Marisol de la Cadena…. 

<div class="spacer" ></div></h4></div>

<br></br> 
<br></br> </div>

<!--
			<div id="menu">
				<ul>
					<li><a href="#" accesskey="2" title="">Shop</a></li>
					<li><a href="#" accesskey="3" title="">Editorial</a></li>
				</ul>
			</div>
-->
		</div>
	</div>
</body>
</html>
