<head>
  <title>To Cattail</title>
</head>

<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
<a href = "/about#cattail">
<img style = "  position:absolute;
  top:0;
  right:0;" width="5%" src= "{{ url_for('static', filename='img/i.png') }}">
</a>
<style>
* {
  box-sizing: border-box;
}

.column {
  float: left;
  flex: 50%;
  max-width: 50%;
  padding: 10px;
}

/* Clearfix (clear floats) */
.row {
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  padding: 0 4px;
}


</style>
</head>
<body>
<div style="
text-align: center;
padding-top: 2%;">



<iframe src="https://player.vimeo.com/video/697777548?h=2422d233dc" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
</div>
<br></br>
  <div style = "

  text-align: center;

  font-family: courier;
  color:  black;
  font-size: 80%;
"

  >
  <b style = "color: red;">1.</b><b> To whom do you extend your cattail practice?</b> <br></br> <ol><il>
 ○ Situate yourself in the land you are in. Think about your political, cultural, economic and inherited locations. 
</il> <br></br><il>
○ Make a list of beings (human and other-than-human) or communities you would like to extend your gifts. </il><br></br><il>
○ Learn about them, contact them, ask them how you can support them. 
 </il><br></br><il>
○ Make a list of offerings. These can be, ideas, skills, financial wealth, care, food and anything you are in the capacity of gifting. 
 
 </il></ol> <br></br>
</div>
  <div style = "
  text-align: left;
  font-size: 80%;

padding-left: 40%;
  font-family: courier;
  color:  black;
">
<b style = "color: red;">2.</b> <b>See yourself changing. Recognize you don’t own, but merely borrow the control to shape your becoming. </b> 
<ol> <il><br></br>
 ○ Gather with your people, let each bring one guest.  
 

</il> <br></br><il>
○ Start the gathering by reading this poem by Chrystos 
</il><br></br><il>
○ Write down on a surface the last words of the poem: “When my hands are empty I will be full”
 </il><il><br></br>
○ Offer seven gifts <ol><br></br> </il>
<il>■ one made with your hands</il><br></br>
<il>■ one made with your breath </il><br></br>
<il>■ one made in silence</il><br></br>
 <il>■ one made from hope </il><br></br>
<il>■ one make from  anger </il><br></br>
 <il>■ one made from sacrifice </il><br></br>
<il>■ one made in the future </il><br></br>
</ol>
</ol>
</div>
<br></br> 



</div>
<div style = "position: absolute;
top: 80%;
left: -3%;">
<img width="30%" src="{{ url_for('static', filename='img/cattail/cat.png') }}">
<p>
</body>
