<head>
  <title>To Sapling</title>
</head>

<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}" />
<a href = "/about#sapling">
<img style = "  position:absolute;
  top:0;
  right:0;" width="5%" src= "{{ url_for('static', filename='img/i.png') }}">
</a>

<body>
  <style>
* {
  box-sizing: border-box;
}

.column {
  float: left;
  flex: 50%;
  max-width: 50%;
  padding: 10px;
}

/* Clearfix (clear floats) */
.row {
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  padding: 0 4px;
}
.tab {
    display: inline-block;
    margin-left: 40px;
}


</style>

  <div style = "text-align: center;


  ">
<img width="40%" src="{{ url_for('static', filename='img/sapling/sapling.gif') }}">

</div>
  <div style = "width: 60%;
  border: 10px dot green;
  padding: 2%;
  margin: 20px;
  position: absolute ;
  font-family: courier;
  color:  black;
  font-size: 80%;
"

  >
  <b style = "color: red;">1.</b><b> Join a sapling in their practice </b> <br></br> <ol><il>
 ○ Next to them, extend your body to the directions that feel constricted.</il> <br></br><il>
○ Change spots for every direction. Let your feet explore the possibilities of the soil.</il><br></br><il>
○ Keep yourself in each direction for eleven seconds. </il></ol> <br></br>

<div style =  "width: 70%;
padding-left: 10%;
 ">
<b style = "color: red;">2.</b> <b>See yourself changing. Recognize you don’t own, but merely borrow the control to shape your becoming. </b> <ol>
</div>
<br></br> 

<div style =  "width: 100%;
padding-left: 30%;
 ">
<b style = "color: red;">3.</b> <b> Sapling through ink stains </b><il><br></br>
 ○ Borrow a flexible leaf. 

</il> <br></br><il>
○ Make an ink stain with whatever you have handy (your fingers, a brush, a rock, grass)
</il><br></br><il>
○ Look at the stain from all its angles. Write down the multiple possibilities the stain takes through shapes. What, who, where can it become.
 </il><il>
○ Remember this also applies to the hard winds of change. 

 </il></ol>
</div>
</div>

<div style = "
     padding-left: 60%;

     position: right ;

"
 
 >
<img width="400px" src="{{ url_for('static', filename='img/sapling/sapling2.jpg') }}">

 </div> 
</body>
